.centerverticaly{
    margin-top: auto;
    margin-bottom: auto;
}

.centerhorizontaly{
    display: flex;
    justify-content: center;
}

#lockimage{
    width: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aligncontent{
    margin: 0 auto;
}

.flex-content-column-center{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-content-column{
    display: flex;
    flex-direction: column;
}




#bottomborder{
    padding-bottom: 15px;
    border-bottom: 5px solid black;
}

.tutodiv{
    border: 5px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
}

#presentation{
    border: 5px solid black;
}

.content-fit{
    display: inline-block;
}

#biggerfontsize{
    font-size: 250%;
}